:root {
  /* https://developer.mozilla.org/en-US/docs/Web/CSS/Using_CSS_custom_properties */
  /* https://material.io/design/color/the-color-system.html#color-theme-creation */
  --primary-main: #01579B;
  --primary-variant: #0277BD;
  --secondary-main: #0288D1;
  --secondary-variant: #039BE5;
  --surface-main: #4A4A4A;
  --input-main: #A69F9F;
  --secondary-text: #ffffff;
  --dark-main: #1d1e1f;
  --dark-secondary: #181818;
  --dark-varient: #282828;
  --spotify-green: #1DB954;


  /* Font System */

  /* Font face */
  --primary-font: 'Roboto', sans-serif;

  /* Type scale */

  /* H1 */
  --font-size-h1: 46px;
  --font-weight-h1: 700;
  --font-letter-spacing-h1: -1px;

  /* H2 */
  --font-size-h2: 36px;
  --font-weight-h2: 700;
  --font-letter-spacing-h2: -1px;

  /* H3 */
  --font-size-h3: 24px;
  --font-weight-h3: 700;
  --font-letter-spacing-h3: -1px;

  /* Subtitle */
  --font-size-subtitle: 24px;
  --font-weight-subtitle: 500;
  --font-letter-spacing-subtitle: -1px;
  --line-height: 28px;

  /* Body */
  --font-size-body: 16px;
  --font-weight-body: 500;
  --font-letter-spacing-body: 0.5px;

  /* Boldtext */
  --font-size-boldtext: 16px;
  --font-weight-boldtext: 700;
  --font-letter-spacing-boldtext: 0.5px;

  /* Small */
  --font-size-small: 14px;
  --font-weight-small: 500;
  --font-letter-spacing-body: 0.5px;

  /* Pretitle */
  --font-size-pretitle: 10px;
  --font-weight-pretitle: 500;
  --font-letter-spacing-pretitle: 0.5px;

  /* Button */
  --font-size-button: 16px;
  --font-weight-button: 500;
  --font-letter-spacing-button: 0.5px;
  --font-line-height: 12px;

  /* Spacing */
  --spacing-gutter: 16px;
  --spacing-container-gutter: 0px;
  --spacing-paragraph-gap: 8px;
  --spacing-section-padding-between: 16px;
  --spacing-nav-height: 64px;
  --spacing-button-padding: 8px 16px;
  --spacing-line-height: 32px;

  /* Borders */
  --border-thickness: 1px;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--primary-font);
  min-height: 100vh;
  background-color: var(--dark-main);
  display: flex;
  flex-direction: column;
}

h1 {
  color: var(--secondary-text);
}

h2 {
  color: var(--secondary-text);
  font-weight: var(--font-weight-h2);
}

h3 {
  color: var(--secondary-main);

}

a {
  text-decoration: none;
}

a:hover {
  color: #282828;
}

#site-name {
  color: var(--secondary-text);
  float: left;
}

.music-form {
  display: flex;
  flex-direction: column;
  background-color: black;
  color: var(--primary-main);
  width: 30%;
  margin: auto;
  margin-top: 2.5%;
  padding: 1em;
  border-radius: .5em;
}

.music-form h1, .music-form h2 {
  text-align: center;
}

.song-time {
  color: var(--secondary-variant);
}

label {
  color: var(--secondary-text);
  font-weight: var(--font-weight-subtitle);
}

input[type=button] {
  background-color: var(--primary-main);
  color: var(--secondary-text);
  padding: 1em;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  letter-spacing: .25em;
  margin: 0 auto;
  display: block;
  -webkit-appearance: none;
}

button {
  background-color: var(--primary-main);
  color: var(--secondary-text);
  padding: 1em;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  letter-spacing: .25em;
  margin: 0 auto;
  display: block;
  -webkit-appearance: none;
}

input[type=text],
input[type=password],
select {
  width: 100%;
  padding: 1.5em;
  margin: 1em 0;
  display: inline-block;
  box-sizing: border-box;
  background-color: var(--surface-main);
  -webkit-appearance: none;
}

input[type=submit]:hover {
  background-color: var(--primary-variant);
}

/* Results page */

.container {
  margin: 3em;
}

.music-card-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 16px;
  width: 90%;
  margin: auto;
}

.music-card {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-gutter);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 8px;
  background-color: var(--dark-secondary);
}

.music-card-header > h1 {
  padding-left: 5%;
  color: var(--primary-main);
}

.music-card:hover {
  background: var(--dark-varient);
}

.music-card h1 {
  color: var(--primary-main);
}

.music-card h2 {
  color: var(--primary-variant);
}

.song-info {
  padding-left: 1em;
  padding-bottom: 1em;
}

/* Footer */

footer {
  /* text-align: center; */
  padding: 2em;
  background-color: black;
  margin-top: auto;
  font-size: var(--font-size-small);
  color: white;
  line-height: var(--spacing-line-height);
}

.footer-items-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-left: 15%;
  padding-right: 15%;
}

.socials {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 5px;
}

i {
  color: white;
  border-radius: 50%;
  background-color: #222326;
  box-shadow: 0px 0px 2px #888;
  padding: 0.5em 0.6em;
}

i:hover {
  color: var(--spotify-green);
}

.useful-links {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: auto;
}

.useful-links a {
  color: white;
}

.useful-links a:hover {
  color: var(--spotify-green);
}

.useful-links span {
  color: #919496;
}

@media only screen and (max-width: 1050px) {
  .music-card-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (max-width: 680px) {
  .music-card-container {
    display: grid;
    grid-template-columns: 1fr;
  }

  .footer-items-container {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  h2 {
    font-size: 16px;
  }
  .music-form {
    width: 70%;
    margin-bottom: 10%;
  }
}

@media only screen and (max-width: 450px) {
  h1 {
    font-size: 24px;
  }
  
  h2 {
    font-size: 14px;
  }

  .music-form {
    width: 70%;
    margin-bottom: 10%;
  }
}

@media only screen and (max-width: 400px) {
  h1 {
    font-size: 20px;
  }
  
  h2 {
    font-size: 12px;
  }

  .music-form {
    width: 70%;
    margin-bottom: 10%;
  }
}