:root {
    /* https://developer.mozilla.org/en-US/docs/Web/CSS/Using_CSS_custom_properties */
    /* https://material.io/design/color/the-color-system.html#color-theme-creation */
    --primary-main: #01579B;
    --primary-variant: #0277BD;
    --secondary-main: #0288D1;
    --secondary-variant: #039BE5;
    --surface-main: #E1F5FE;
    --background-main: #ffffff;
    --secondary-text: #F5FCFF;


    /* Font System */

  /* Font face */
  --primary-font: 'Roboto', sans-serif;

  /* Type scale */

  /* H1 */
  --font-size-h1: 46px;
  --font-weight-h1: 700;
  --font-letter-spacing-h1: -1px;

  /* H2 */
  --font-size-h2: 36px;
  --font-weight-h2: 700;
  --font-letter-spacing-h2: -1px;

  /* H3 */
  --font-size-h3: 24px;
  --font-weight-h3: 700;
  --font-letter-spacing-h3: -1px;

  /* Subtitle */
  --font-size-subtitle: 24px;
  --font-weight-subtitle: 500;
  --font-letter-spacing-subtitle: -1px;
  --line-height: 28px;

  /* Body */
  --font-size-body: 16px;
  --font-weight-body: 500;
  --font-letter-spacing-body: 0.5px;

  /* Boldtext */ 
  --font-size-boldtext: 16px;
  --font-weight-boldtext: 700;                  
  --font-letter-spacing-boldtext: 0.5px;

  /* Small */
  --font-size-small: 14px;
  --font-weight-small: 500;
  --font-letter-spacing-body: 0.5px;

  /* Pretitle */
  --font-size-pretitle: 10px;
  --font-weight-pretitle: 500;
  --font-letter-spacing-pretitle: 0.5px;

  /* Button */
  --font-size-button: 16px;
  --font-weight-button: 500;
  --font-letter-spacing-button: 0.5px;
  --font-line-height: 12px;

  /* Spacing */
  --spacing-gutter: 16px;
  --spacing-container-gutter: 0px;
  --spacing-paragraph-gap: 8px;
  --spacing-section-padding-between: 16px;
  --spacing-nav-height: 64px;
  --spacing-button-padding: 8px 16px;
  --spacing-line-height: 32px;

  /* Borders */
  --border-thickness: 1px;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--primary-font);
  min-height: 100vh;
  }

header {
  background: var(--primary-main);
  color:var(--surface-main);
  font-size: var(--font-size-subtitle);
  font-weight: 500;
  padding: 0 var(--spacing-gutter);
  display: flex;
  flex-direction: row;
  align-items: center;
}

.music-form {
    display: flex;
    flex-direction: column;
    background-color: var(--surface-main);
    color:var(--primary-main);
    width: 50%;
    margin: auto;
    padding: 1em;
}

h2 {
  color: var(--secondary-main);
  font-weight: var(--font-weight-h2);
}

span {
  color: var(--secondary-text);
}

a {
  text-decoration: none;
  color: var(--secondary-text);
}

a:hover {
  text-decoration: underline;
}

ul {
  list-style-type: none;
}

header ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: var(--spacing-nav-height);
}

label {
  color: var(--secondary-main);
  font-weight: var(--font-weight-subtitle);
}

input[type=submit] {
  background-color:var(--primary-main);
  color: var(--secondary-text);
  padding: 1em;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

input[type=text], select {
  width: 100%;
  padding: 1.5em;
  margin: 1em 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: var(--secondary-text);
  filter: drop-shadow(4px 4px 2px rgba(0, 0, 0, 0.15));
}

input[type=submit]:hover {
  background-color: var(--primary-variant);
}

